$brand-primary = rgba(13,50,153,1)
$brand-success = #4CAF50
$brand-warning = #EF6C00
$brand-danger = rgba(153,13,13,1)
gray = #EEEEEA

$top-bar-bg = $brand-primary
$top-bar-height = 64px
$top-bar-color = #fff

$body-bg = gray
$body-color = rgba(10,16,13,1)